body {
  overflow-x: hidden;
}
.navbar {
  background-color: #f8f1f1;
}
.brand {
  background-color: #f8f1f1;
}

.keytext {
  color: #c04d00;
  text-emphasis-color: #c04d00;
  font-weight: 600;
}
.headtext {
  color: #ac4b1c;
  text-emphasis-color: #ac4b1c;
  font-weight: 600;
}
.navbar .nav-link {
  font-size: 14px;
  text-transform: uppercase;
  padding-left: 1rem !important;
  padding-right: 1rem !important;
}

.navbar .nav-item.active {
  border-left: #444 3px solid;
}

.carousel-item {
  height: 600px;
}

.carousel-image-2 {
  background: url("../img/cover11.jpg");
  background-attachment: fixed;
  background-size: cover;
}

.carousel-image-3 {
  background: url("../img/cover13.jpg");
  background-position: 0 -260px;
  background-attachment: fixed;
  background-size: cover;
}

.carousel-image-1 {
  background: url("../img/cover14.jpg");
  background-position: 0 -360px;
  background-attachment: fixed;
  background-size: cover;
}

#home-heading {
  position: relative;
  min-height: 200px;
  background: url("../img/lights.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  text-align: center;
  color: #fff;
}

.dark-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
}

#video-play {
  position: relative;
  min-height: 200px;
  background: url("../img/media.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: 0 -300px;
  text-align: center;
  color: #fff;
}

#video-play a {
  color: #fff;
}

#page-header {
  height: 400px;
  background: url("../img/loubotin1.jpg");
  background-position: 0 -360px;
  background-attachment: fixed;
  color: #fff;
  border-bottom: 1px #eee solid;
  padding-top: 50px;
}
#page-header1 {
  height: 400px;
  background: url("../img/LV1.jpg");
  background-position: 0 -360px;
  background-attachment: fixed;
  color: #fff;
  border-bottom: 1px #eee solid;
  padding-top: 50px;
}

.about-img {
  margin-top: -50px;
}

#faq .card {
  border: #444;
}

#faq a {
  color: #fff;
  text-decoration: none;
}

#faq .card-body,
#faq .card-header {
  background: #333;
}

#main-footer {
  background: #000;
  color: #fff;
}

ion-icon {
  font-size: 64px;
}

.gallery {
  width: 400px; /* You can set the dimensions to whatever you want */
  height: 400px;
  object-fit: cover;
}

.brandlogo {
  width: 500px; /* You can set the dimensions to whatever you want */
  height: 70px;
  object-fit: cover;
}

.logo {
  width: 30px; /* You can set the dimensions to whatever you want */
  height: 30px;
  object-fit: cover;
}
